<%# 1. フォームをリセット（常に実行） %>
<%= turbo_stream.replace "new_task_form_container" do %>
  <%= render "form_quick_input", task: current_user.tasks.build %>
<% end %>

<%# 2. 「未完了」かつ「今日までが期限」のものだけを、今日のリストに表示する %>
<% if !@task.archived && (@task.is_today || (@task.due_date.present? && @task.due_date <= Date.today)) %>
  
  <%# メッセージを消去（ID: empty_message をターゲットにする） %>
  <%= turbo_stream.remove "empty_message" %>

  <%# 今日のリストの先頭に追加 %>
  <%= turbo_stream.prepend "tasks_container" do %>
    <%= render @task %>
  <% end %>
<% end %>

<%# 3. トースト通知 %>
<%= turbo_stream.append "toast" do %>
  <div class="toast-message">登録しました: <%= @task.title %></div>
<% end %>