<%# 1. フォームを空にする（これは常に実行） %>
<%= turbo_stream.replace "new_task_form_container" do %>
  <%= render "form_quick_input", task: current_user.tasks.build %>
<% end %>

<%# 2. 【重要】@task.is_today が true の時だけ画面に追加する %>
<% if @task.is_today %>
  <%= turbo_stream.prepend "tasks_container" do %>
    <%= render @task %>
  <% end %>
<% end %>

<%# 3. 通知を表示 %>
<%= turbo_stream.append "toast" do %>
  <div class="toast-message">
    <%= @task.is_today ? "☀️ 今日のリストに追加しました" : "📅 明日以降のタスクとして保存しました" %>
  </div>
<% end %>