<%# 1. 日常業務（ルーチン）の場合 %>
<% if @task.is_routine? %>
  <%= turbo_stream.replace dom_id(@task) do %>
    <%= render partial: 'routine_task', locals: { task: @task } %>
  <% end %>

<%# 2. 単発TODOの場合 %>
<% else %>
  <% if @task.archived %>
    <%# --- 完了した時：TODOから消してアーカイブへ --- %>
    <%= turbo_stream.remove dom_id(@task) %>
    <%= turbo_stream.prepend "archive-list" do %>
      <%# ここを @task に統一します %>
      <div class="archive-item" id="<%= dom_id(@task) %>">
        <div class="archive-item-content">
          <span class="archive-item-title"><%= @task.title %></span>
          <span class="archive-item-time"><%= @task.updated_at.strftime("%H:%M") %> 完了</span>
        </div>
        <%= link_to "元に戻す", update_status_task_path(@task, status: "todo"), 
            data: { turbo_method: :patch }, 
            class: "restore-button" %>
      </div>
    <% end %>

  <% else %>
    <%# --- 復帰させた時：アーカイブから消してTODOリストへ --- %>
    <%= turbo_stream.remove dom_id(@task) %>
    <%= turbo_stream.prepend "tasks_container" do %>
      <%= render @task %>
    <% end %>
  <% end %>
<% end %>